body {
    background-color: #4E5556;/* #687683;*/
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #2B2C30;
    padding-right: 120px;
    border-bottom-color: #3E92CC;
    border-bottom: 2px solid #3E92CC;

}

#navbar > a {
    margin-right: 15px;
    padding: 12px 6px;
    color: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-line: none;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

#navbar > a:hover {
    background-color: #00bcd4;
}

main {
    padding-top: 40px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 60px;
    background-color: #5f6769;
    padding-bottom: 160px;
}

#name {
    color: #f5f5f5;
    font-family: Fjalla One;
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 10px;
}

#title {
    color: #00bcd4;
    font-family: Fjalla One;
    font-size: 28px;
    font-weight: 100;
    margin: 0px;
}

#social {
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.socialize {
    color: #ffffff;
    text-decoration-line: none
}

.separator {
    color: #ffffff;
    margin-right: 8px;
    margin-left: 8px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 120px;
}

#projects > h1 {
    color: #f5f5f5;
    font-family: Fjalla One;
    font-size: 42px;
    font-weight: 100;
    margin-top: 0px;
}

#filter {
    width: 58%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filter a {
    color: #E9F1F7;
    font-family: sans-serif;
    text-decoration-line: none;
    border: solid 1px;
    padding: 10px 7px 10px 7px;
    border-color: #719192;
    margin-right: 15px;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}

#filter a:hover {
    background-color: #3E92CC;
}

#filter .active {
    background-color: #3E92CC;
}

.project-tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 120px;
    margin-top: 25px;
}

.project-thumbnail {
    width: 13%;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.project-description {
    width: 70%;
    margin-left: 14px;
    margin-top: 4px;
}

.project-header {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-header  a {
    color: #FFC984;/*#FF9D1E;*/
    text-decoration-line: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 8px 6px;
    transition: background-color 0.4s ease;
    border-radius: 2px;
}

.project-header  a:hover {
    background-color: #3E92CC;
    color: #E9F1F7;
}

.project-header  h1 {
    color: #f7f7f7;
    font-family: Fjalla One ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
}


.project-description > p {
    color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.highlight {
    background-color: #00bcd4;
}

.project-links {
    margin-bottom: 0px;
}


.tags {
    background-color: #3E92CC;
    padding: 2px 3px 1px 3px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 5px;
}

.small-p {
    font-size: 12px;
}

@media screen and (max-width:600px) {
    .project-tile {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        border: 1px solid #5f6769;
        padding: 10px 5px;
    }

    .project-header {
        flex-direction: column;
    }

    .project-header  h1 {
        margin-bottom: 6px;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .project-description > p {
        line-height: 1.3;
    }
    .project-thumbnail {
        display: none;
    }

    #welcome-section > h1 {
        text-align: center;
    }

    header {
        display: none;
    }

    main {
        padding-top: 0px;
    }

    #social {
        margin-top: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #social a {
        margin-bottom: 10px;
    }

    .separator {
        display: none;
    }
}

@media screen and (max-width:400px) {
    #filter {
        overflow: auto;
        white-space: nowrap;
        justify-content: flex-start;
        padding-bottom: 15px;
    }

    .project-header h1 {
        text-align: center;
        margin-right: 0px;
    }

    .project-description > .small-p {
        line-height: 1.8em;
        text-align: center;
    }
}

@media screen and (max-width:1000px) {
    .project-thumbnail {
        display: none;
    }

    #navbar {
        padding-right: 60px;
    }
}